---
layout: default
title: 首页
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | remove_first: '/' | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date:"%Y年%m月%d日" }}</span>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{paginator.next_page_path}}">下一页</a>
  {% else %}
    <span class="pagination-item older">下一页</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">上一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path }}">上一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">上一页</span>
  {% endif %}
</div>
{% endif %}
